<div id="$__container">
    <div class="$__block">
        <div class="title">
            <span data-index="0">火爆直播</span>
            <div class="line"></div>
        </div>
        <div class="$__list" data-index="0">
            <!-- <div data-i="0" class="$__banner $__item">
                <ul class="banner">
                    <li data-category="火爆直播" data-type="2" tabindex="" data-link="http://zx.qq.com/act/a20130619zxobeta1/?via=jtzzb" data-index="1"><div class="image" style="background-image:url(http://pub.idqqimg.com/pc/misc/files/20141231/d0c16bca30224b9c9e13d6f59b40aa20.jpg);"></div></li>
                </ul>
                <ul class="banners-container"></ul>
                <div class="buttons" style="display: block;">
                    <div class="left"></div>
                    <div class="right"></div>
                    <div class="page-point">
                        <div class="point" data-index="0"></div>
                        <div class="point active" data-index="1"></div>
                    </div>
                </div>
            </div> -->
            <div class="$__item" tabindex="" data-category="火爆直播" data-type="0" data-short-id="21992" data-link="200300">
                <div class="image" style="background-image:url(http://gg.ewang.com/group1/M00/3B/34/wKgDM1Prtn2AW97TAAAjahi-ayo860.jpg);"></div>
                <div class="message">
                    <div class="base-message">
                        <div class="name">夲色灬ツ西奥【主播】</div>
                    </div>
                    <div class="room">本色娱乐美女直播</div>
                    <div class="tags"><div class="tag">女神</div></div>
                </div>
            </div>
            <div class="$__item" tabindex="" data-category="火爆直播" data-type="0" data-short-id="21642" data-link="201527">
                <div class="image" style="background-image:url(http://gg.ewang.com/group2/M00/3A/3D/wKgDNlSgPZOAI4yeAAAtI9Onq4k992.jpg);"></div>
                <div class="message">
                    <div class="base-message">
                        <div class="name">AT丶兔麻麻 莫失不离</div>
                    </div>
                    <div class="room">AT-爱听</div>
                    <div class="tags">
                        <div class="tag">女神</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
