<div class="$__container" id="<%=it.id%>">
    <div class="$__title">
        <i class="$__triangle $__triangle-rotate"></i>
        <%=it.title%>
        <span class="$__num"><%=it.num%></span>
    </div>
    <ul class="$__list $__list-hide">
        <%
            var item;
            for (var i = 0, l = it.list ? it.list.length : 0; i < l; i++) {
                item = it.list[i];
        %>
            <li class="$__item" tabindex="0" data-roomid="<%=item.roomid%>" data-anchorid="<%=item.anchorid%>">
                <img class="$__avatar<%=item.offline ? ' $__avatar-offline' : ''%>" src="<%=item.avatar%>">
                <div class="$__info">
                    <div class="$__name"><%=item.name%></div>
                    <div class="$__intro"><%=item.intro ? item.intro : (item.offline ? '[不在直播]' : '[直播]')%></div>
                </div>
                <% if (it.needDel) { %>
                    <div class="$__del" data-roomid="<%=item.roomid%>" tabindex="0"><i class="$__delicon"></i>从列表删除此直播间/div&gt; </div>
                <% } %>
            </li>
        <% } %>
    </ul>
</div>
