.$__title {
    margin: 0 auto;
    font-size: 14px;
    cursor: default;
    padding-left: 10px;
    -webkit-user-select: none;
}
.$__triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 5px;
    overflow: hidden;
    border-color: transparent transparent transparent #b6b6b6;
    border-style: dotted dotted dotted solid;
}
.$__triangle-rotate {
    -webkit-transform: rotate(90deg);
}
.$__num {
    margin-left: 10px;
    font-size: 10px;
}

.$__list {
    padding: 0;
    margin-top: 4px;
    overflow: auto;
    transition: height 300ms, opacity 400ms;
    opacity: 1;
}

.$__list-hide {
    height: 0px !important;
    opacity: 0;
}

.$__item {
    list-style-type: none;
    position: relative;
    padding-left: 10px;
    outline: 0;
    display: -webkit-box;
}
.$__item:focus,
.$__item:hover,
.$__item:visited {
    background-color: #FCF0C1;
}

.$__avatar {
    height: 42px;
    width: 42px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.$__avatar-offline {
    -webkit-filter: grayscale(100%);
}

.$__info {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    -webkit-box-flex: 1;
    -webkit-user-select: none;
    cursor: default;
}

.$__name {
    font-size: 14px;
    padding-bottom: 4px;
}

.$__intro {
    color: gray;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.$__item:hover .$__del {
    opacity: 1;
}

.$__del {
    text-indent: -2000px;
    position: relative;
    opacity: 0;
    cursor: pointer;
    background: #FAE198;
    height: 58px;
    width: 32px;
    z-index: 1;
}

.$__delicon {
    width: 21px;
    height: 21px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px transparent;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
}

.$__delicon:after {
    content: '';
    width: 17px;
    height: 18px;
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 4;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAYAAAC9+TVUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAddJREFUeNqklM8rRFEUx8/8MC8z3mxkRvPYyIZhipitlOyEkAVKUgp/gD/Bf2AjERaixBLbkSJijCykxNC8iXjjYX48fA/zNN74NTn16d7uPff7zr3vnGPSlEMyWD7oB+2gAnjADdgBi2AOJHRns+glk0GkCUwoF1vlqhyipCpTKqGQxWonwSmRw+0j0VN3Ap9hsP6VSC+YjhzMWVQ5K7oPc7i85Pb1aZgOsn+mSB0IXG5P2J7uzug3E5ylJPlH+EqNENk0Y2IBM9GjpT8JsMWVc5JDCzZMJ59jISuLtCL8ytjlDuVi91d7hHfjh29hkS41EvzkUNY0/sZvaw/RIx5aWaQ2Hgt/2jzdGPs4mDnq67o93p7y0MAiUiquZIVrFDIKsGnv5zxm+o+Z+J9QkkXCVsGZtW+MwPgebOlzYRbZFUTpR4HvhASRK4L2ONna1GhoObI/m/Nt3L5eZHBVB0ey4ijy7hcU1+QkwP4QOMZ0lUVewIirqlvjdP6LCc4Sgn+S6wdpn9L/ToAXUA8aovpRgPcl/ygX4FD6XFYraAZTsfC2dC8HKaFckJZ8IEuenWz4eoGrmkSpnjNzAKx910/0ptQDOtPVXQiu001pCcxzsmY2pVcBBgBg/LFKff6iogAAAABJRU5ErkJggg==);
}
