<div class="$__container" id="{{id}}">
    <div class="$__title" q-on="click: toggle">
        <i class="$__triangle"></i>
        <span>{{title}}</span>
        <span class="$__num" q-text="num"></span>
    </div>
    <ul class="$__list $__list-hide" q-height="list | calHeight" q-class="$__list-hide: hide">
        <li class="$__item" tabindex="0" q-repeat="list" q-on="dblclick: enterRoom(this)">
            <img q-class="$__avatar-offline: offline" class="$__avatar" src="" q-src="avatar">
            <div class="$__info">
                <div class="$__name" q-text="name"></div>
                <div class="$__intro" q-text="offline | showIntro"></div>
            </div>
            <div class="$__del" tabindex="0" q-on="click: del(this)"><i class="$__delicon"></i>从列表删除此直播间/div&gt; </div>
        </li>
    </ul>
</div>
