.$__container {
    margin: 20px auto;
    cursor: pointer;
    text-indent: -2000px;
    outline: 0;
    width: 205px;
    height: 63px;
    background-image: url(http://pub.idqqimg.com/guagua/qiqiclient/img/sprite/icon-s74f75c3df1.png);
    background-repeat: no-repeat;
    background-position: 0 -48px;
}