<div class="$__container">
    <div class="$__title" q-on="click: toggle">
        <i class="$__triangle"></i>
        <content select="span[title]"></content>
        <span class="$__num" q-text="num"></span>
    </div>
    <ul class="$__list $__list-hide" q-height="list | calHeight" q-class="$__list-hide: hide">
        <ui-card q-repeat="list" q-on="dblclick: enterRoom(this)">
            <img q-class="ui-card__avatar-offline: offline" src="" q-attr="src: avatar">
            <span name q-text="name"></span>
            <span intro q-text="offline | showIntro"></span>
            <div class="extend" q-on="click: del(this)"><i></i>从列表删除此直播间</div>
        </ui-card>
    </ul>
</div>
