.ui-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: none;
    -webkit-appearance: button;
    overflow: visible;
    margin: 0;
}

.ui-default {
    color:#333;
    background-color:#fff;
    border-color:#ccc
}
.ui-default.focus,.ui-default:focus {
    color:#333;
    background-color:#e6e6e6;
    border-color:#8c8c8c
}
.ui-default:hover {
    color:#333;
    background-color:#e6e6e6;
    border-color:#adadad
}
.ui-default.active,.ui-default:active,.open>.dropdown-toggle.ui-default {
    color:#333;
    background-color:#e6e6e6;
    border-color:#adadad
}
.ui-default.active.focus,.ui-default.active:focus,.ui-default.active:hover,.ui-default:active.focus,.ui-default:active:focus,.ui-default:active:hover,.open>.dropdown-toggle.ui-default.focus,.open>.dropdown-toggle.ui-default:focus,.open>.dropdown-toggle.ui-default:hover {
    color:#333;
    background-color:#d4d4d4;
    border-color:#8c8c8c
}
.ui-default.active,.ui-default:active,.open>.dropdown-toggle.ui-default {
    background-image:none
}
.ui-default.disabled,.ui-default.disabled.active,.ui-default.disabled.focus,.ui-default.disabled:active,.ui-default.disabled:focus,.ui-default.disabled:hover,.ui-default[disabled],.ui-default[disabled].active,.ui-default[disabled].focus,.ui-default[disabled]:active,.ui-default[disabled]:focus,.ui-default[disabled]:hover,fieldset[disabled] .ui-default,fieldset[disabled] .ui-default.active,fieldset[disabled] .ui-default.focus,fieldset[disabled] .ui-default:active,fieldset[disabled] .ui-default:focus,fieldset[disabled] .ui-default:hover {
    background-color:#fff;
    border-color:#ccc
}
.ui-default .badge {
    color:#fff;
    background-color:#333
}
.ui-primary {
    color:#fff;
    background-color:#337ab7;
    border-color:#2e6da4
}
.ui-primary.focus,.ui-primary:focus {
    color:#fff;
    background-color:#286090;
    border-color:#122b40
}
.ui-primary:hover {
    color:#fff;
    background-color:#286090;
    border-color:#204d74
}
.ui-primary.active,.ui-primary:active,.open>.dropdown-toggle.ui-primary {
    color:#fff;
    background-color:#286090;
    border-color:#204d74
}
.ui-primary.active.focus,.ui-primary.active:focus,.ui-primary.active:hover,.ui-primary:active.focus,.ui-primary:active:focus,.ui-primary:active:hover,.open>.dropdown-toggle.ui-primary.focus,.open>.dropdown-toggle.ui-primary:focus,.open>.dropdown-toggle.ui-primary:hover {
    color:#fff;
    background-color:#204d74;
    border-color:#122b40
}
.ui-primary.active,.ui-primary:active,.open>.dropdown-toggle.ui-primary {
    background-image:none
}
.ui-primary.disabled,.ui-primary.disabled.active,.ui-primary.disabled.focus,.ui-primary.disabled:active,.ui-primary.disabled:focus,.ui-primary.disabled:hover,.ui-primary[disabled],.ui-primary[disabled].active,.ui-primary[disabled].focus,.ui-primary[disabled]:active,.ui-primary[disabled]:focus,.ui-primary[disabled]:hover,fieldset[disabled] .ui-primary,fieldset[disabled] .ui-primary.active,fieldset[disabled] .ui-primary.focus,fieldset[disabled] .ui-primary:active,fieldset[disabled] .ui-primary:focus,fieldset[disabled] .ui-primary:hover {
    background-color:#337ab7;
    border-color:#2e6da4
}
.ui-primary .badge {
    color:#337ab7;
    background-color:#fff
}
.ui-success {
    color:#fff;
    background-color:#5cb85c;
    border-color:#4cae4c
}
.ui-success.focus,.ui-success:focus {
    color:#fff;
    background-color:#449d44;
    border-color:#255625
}
.ui-success:hover {
    color:#fff;
    background-color:#449d44;
    border-color:#398439
}
.ui-success.active,.ui-success:active,.open>.dropdown-toggle.ui-success {
    color:#fff;
    background-color:#449d44;
    border-color:#398439
}
.ui-success.active.focus,.ui-success.active:focus,.ui-success.active:hover,.ui-success:active.focus,.ui-success:active:focus,.ui-success:active:hover,.open>.dropdown-toggle.ui-success.focus,.open>.dropdown-toggle.ui-success:focus,.open>.dropdown-toggle.ui-success:hover {
    color:#fff;
    background-color:#398439;
    border-color:#255625
}
.ui-success.active,.ui-success:active,.open>.dropdown-toggle.ui-success {
    background-image:none
}
.ui-success.disabled,.ui-success.disabled.active,.ui-success.disabled.focus,.ui-success.disabled:active,.ui-success.disabled:focus,.ui-success.disabled:hover,.ui-success[disabled],.ui-success[disabled].active,.ui-success[disabled].focus,.ui-success[disabled]:active,.ui-success[disabled]:focus,.ui-success[disabled]:hover,fieldset[disabled] .ui-success,fieldset[disabled] .ui-success.active,fieldset[disabled] .ui-success.focus,fieldset[disabled] .ui-success:active,fieldset[disabled] .ui-success:focus,fieldset[disabled] .ui-success:hover {
    background-color:#5cb85c;
    border-color:#4cae4c
}
.ui-success .badge {
    color:#5cb85c;
    background-color:#fff
}
.ui-info {
    color:#fff;
    background-color:#5bc0de;
    border-color:#46b8da
}
.ui-info.focus,.ui-info:focus {
    color:#fff;
    background-color:#31b0d5;
    border-color:#1b6d85
}
.ui-info:hover {
    color:#fff;
    background-color:#31b0d5;
    border-color:#269abc
}
.ui-info.active,.ui-info:active,.open>.dropdown-toggle.ui-info {
    color:#fff;
    background-color:#31b0d5;
    border-color:#269abc
}
.ui-info.active.focus,.ui-info.active:focus,.ui-info.active:hover,.ui-info:active.focus,.ui-info:active:focus,.ui-info:active:hover,.open>.dropdown-toggle.ui-info.focus,.open>.dropdown-toggle.ui-info:focus,.open>.dropdown-toggle.ui-info:hover {
    color:#fff;
    background-color:#269abc;
    border-color:#1b6d85
}
.ui-info.active,.ui-info:active,.open>.dropdown-toggle.ui-info {
    background-image:none
}
.ui-info.disabled,.ui-info.disabled.active,.ui-info.disabled.focus,.ui-info.disabled:active,.ui-info.disabled:focus,.ui-info.disabled:hover,.ui-info[disabled],.ui-info[disabled].active,.ui-info[disabled].focus,.ui-info[disabled]:active,.ui-info[disabled]:focus,.ui-info[disabled]:hover,fieldset[disabled] .ui-info,fieldset[disabled] .ui-info.active,fieldset[disabled] .ui-info.focus,fieldset[disabled] .ui-info:active,fieldset[disabled] .ui-info:focus,fieldset[disabled] .ui-info:hover {
    background-color:#5bc0de;
    border-color:#46b8da
}
.ui-info .badge {
    color:#5bc0de;
    background-color:#fff
}
.ui-warning {
    color:#fff;
    background-color:#f0ad4e;
    border-color:#eea236
}
.ui-warning.focus,.ui-warning:focus {
    color:#fff;
    background-color:#ec971f;
    border-color:#985f0d
}
.ui-warning:hover {
    color:#fff;
    background-color:#ec971f;
    border-color:#d58512
}
.ui-warning.active,.ui-warning:active,.open>.dropdown-toggle.ui-warning {
    color:#fff;
    background-color:#ec971f;
    border-color:#d58512
}
.ui-warning.active.focus,.ui-warning.active:focus,.ui-warning.active:hover,.ui-warning:active.focus,.ui-warning:active:focus,.ui-warning:active:hover,.open>.dropdown-toggle.ui-warning.focus,.open>.dropdown-toggle.ui-warning:focus,.open>.dropdown-toggle.ui-warning:hover {
    color:#fff;
    background-color:#d58512;
    border-color:#985f0d
}
.ui-warning.active,.ui-warning:active,.open>.dropdown-toggle.ui-warning {
    background-image:none
}
.ui-warning.disabled,.ui-warning.disabled.active,.ui-warning.disabled.focus,.ui-warning.disabled:active,.ui-warning.disabled:focus,.ui-warning.disabled:hover,.ui-warning[disabled],.ui-warning[disabled].active,.ui-warning[disabled].focus,.ui-warning[disabled]:active,.ui-warning[disabled]:focus,.ui-warning[disabled]:hover,fieldset[disabled] .ui-warning,fieldset[disabled] .ui-warning.active,fieldset[disabled] .ui-warning.focus,fieldset[disabled] .ui-warning:active,fieldset[disabled] .ui-warning:focus,fieldset[disabled] .ui-warning:hover {
    background-color:#f0ad4e;
    border-color:#eea236
}
.ui-warning .badge {
    color:#f0ad4e;
    background-color:#fff
}
.ui-danger {
    color:#fff;
    background-color:#d9534f;
    border-color:#d43f3a
}
.ui-danger.focus,.ui-danger:focus {
    color:#fff;
    background-color:#c9302c;
    border-color:#761c19
}
.ui-danger:hover {
    color:#fff;
    background-color:#c9302c;
    border-color:#ac2925
}
.ui-danger.active,.ui-danger:active,.open>.dropdown-toggle.ui-danger {
    color:#fff;
    background-color:#c9302c;
    border-color:#ac2925
}
.ui-danger.active.focus,.ui-danger.active:focus,.ui-danger.active:hover,.ui-danger:active.focus,.ui-danger:active:focus,.ui-danger:active:hover,.open>.dropdown-toggle.ui-danger.focus,.open>.dropdown-toggle.ui-danger:focus,.open>.dropdown-toggle.ui-danger:hover {
    color:#fff;
    background-color:#ac2925;
    border-color:#761c19
}
.ui-danger.active,.ui-danger:active,.open>.dropdown-toggle.ui-danger {
    background-image:none
}
.ui-danger.disabled,.ui-danger.disabled.active,.ui-danger.disabled.focus,.ui-danger.disabled:active,.ui-danger.disabled:focus,.ui-danger.disabled:hover,.ui-danger[disabled],.ui-danger[disabled].active,.ui-danger[disabled].focus,.ui-danger[disabled]:active,.ui-danger[disabled]:focus,.ui-danger[disabled]:hover,fieldset[disabled] .ui-danger,fieldset[disabled] .ui-danger.active,fieldset[disabled] .ui-danger.focus,fieldset[disabled] .ui-danger:active,fieldset[disabled] .ui-danger:focus,fieldset[disabled] .ui-danger:hover {
    background-color:#d9534f;
    border-color:#d43f3a
}
.ui-danger .badge {
    color:#d9534f;
    background-color:#fff
}

