<div id="$__container">
    <div class="$__block">
        <div class="title">
            <span data-index="0">火爆直播</span>
            <div class="line"></div>
        </div>
        <div class="$__list" data-index="0">
            <div class="$__item" tabindex="" data-category="火爆直播" data-type="0" data-short-id="21992" data-link="200300">
                <div class="image" style="background-image:url(http://gg.ewang.com/group1/M00/3B/34/wKgDM1Prtn2AW97TAAAjahi-ayo860.jpg);"></div>
                <div class="message">
                    <div class="base-message">
                        <div class="name">夲色灬ツ西奥【主播】</div>
                    </div>
                    <div class="room">本色娱乐美女直播</div>
                    <div class="tags"><div class="tag">女神</div></div>
                </div>
            </div>
            <div class="$__item" tabindex="" data-category="火爆直播" data-type="0" data-short-id="21642" data-link="201527">
                <div class="image" style="background-image:url(http://gg.ewang.com/group2/M00/3A/3D/wKgDNlSgPZOAI4yeAAAtI9Onq4k992.jpg);"></div>
                <div class="message">
                    <div class="base-message">
                        <div class="name">AT丶兔麻麻 莫失不离</div>
                    </div>
                    <div class="room">AT-爱听</div>
                    <div class="tags">
                        <div class="tag">女神</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
