.$__block {
    overflow: hidden;
    width: 264px;
    margin: 0 auto 6px;
    position: relative;
    left: -5px;
}
.$__block .title {
    margin: 0 0 7px;
    padding-left: 10px;
    color: #000;
    display: -webkit-box;
    font-size: 12px;
    -webkit-user-select: none;
}
.$__block .title span {
    padding: 0 3px;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}

.$__block .title .line {
    height: 1px;
    background: #DBD9E6;
    -webkit-box-flex: 1;
    margin-left: 6px;
    margin-top: 8px;
}

.$__list {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
}

.$__banner {
    width: 254px;
    height: 136px;
}

.$__item {
    width: 122px;
    height: 92px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.$__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    opacity: 0;
}

.$__item:hover::after {
    opacity: 1;
    -webkit-transition: opacity .2s;
}

.$__item .image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.$__item .message {
    position: absolute;
    color: #fff;
    font-size: 12px;
    bottom: -43px;
    padding-left: 4px;
    left: 0;
    right: 0;
    z-index: 3;
    -webkit-transition: -webkit-transform .2s;
}
.$__item:hover .message {
    -webkit-transform: translateY(-46px);
}

.$__item .message:after {
    position: absolute;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,transparent),color-stop(1,rgba(0,0,0,.7)));
    height: 25px;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: -webkit-transform .2s;
    z-index: -1;
}

.$__item .base-message {
    display: -webkit-box;
    -webkit-box-pack: justify;
    width: 100%;
}

.$__item .base-message .name {
    white-space: nowrap;
    text-shadow: 0 0 5px #000;
}

.$__item .room {
    position: relative;
    margin-top: 2px;
    margin-left: 15px;
    text-shadow: 0 0 5px #000;
    white-space: nowrap;
    color: #D8D8D8;
}

.$__item .room:before {
    content: '';
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVpJREFUeNqEkctKw0AUhqcTQcFLIog17bKL0o0aUHQhlCx9DfH2AD6APkKNLtx0XTBkEXATTEJxEXAlLkqWrlREUcE0FXrxPzApIQY98GU4Z843M5lh7Hdwx3H0TqfzFATBLnKJ5TVlc9u2t8rlss05LyqKcuG67l6enBa5ZVkblUrFliRpBnkBwUul0jnk/ayciNw0zbVqtXoFSU43CPnM87yDtExiodVqrdRqNZLm8/6HZFVVDciHiUziFKRLSAvsjxDyabPZ1Cgle1aW5Z6madvsn2g0GkeGYdxGUfRF+TRYD8NwlKDr+glqO/V6/ThdR20TzNFJ6agxeE+v7Pv+NYabdrvtZjZ9BbTbcII+oJ9peAQPYJCp90X/+DlGcRx/pBoGgmFS6Ha7b9Q3viwxFsEyUMELuAPPYAmsgkVxinsxPxYngUJPA74B7d4TuSLm6S4+xTz7EWAATqB2sVPECY0AAAAASUVORK5CYII=);
    width: 14px;
    height: 13px;
    position: absolute;
    left: -16px;
    top: 3px;
}

.$__item .tags {
    margin-top: 6px;
    margin-left: -1px;
}

.$__item .tags .tag {
    float: left;
    color: #E39042;
    background: #FFF0D9;
    border: 1px solid #F3D5C4;
    border-radius: 1px;
    padding: 0 6px;
    margin-right: 2px;
}
