.ui-card {
    list-style-type: none;
    position: relative;
    padding-left: 10px;
    outline: 0;
    display: -webkit-box;
}
.ui-card:focus,
.ui-card:hover,
.ui-card:visited {
    background-color: #FCF0C1;
}

.$__avatar {
    height: 42px;
    width: 42px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.$__avatar-offline {
    -webkit-filter: grayscale(100%);
}

.$__info {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    -webkit-box-flex: 1;
    -webkit-user-select: none;
    cursor: default;
}

.$__name {
    font-size: 14px;
    padding-bottom: 4px;
}

.$__intro {
    color: gray;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ui-card:hover{
    opacity: 1;
}
