.$__container {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
    position: relative;
    padding: 30px 15px;
    color: #000000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}

.$__title {
    font-size: 60px;
    line-height: 1;
    margin: 0 380px 10px 0;
    color: #fff;
}

.$__text {
    margin-right: 380px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 0 10px;
}
